# ───── App ──────────────────────────────────────────────────────────────────
PORT=4000

JWT_SECRET=super-secreto

CORS_ORIGIN=http://localhost:5173


DATABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


# ───── Supabase (BACKEND) ──────────────────────────────────────────────────

SUPABASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxx  
 
SUPABASE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SUPABASE_SERVICE_ROLE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# JWT emitido por Supabase (para verificar tokens)
SUPABASE_JWT_SECRET=


AUTH_MODE=supabase

# Redirección tras reset password
RESET_REDIRECT_URL=http://localhost:5173/auth/reset